* {
    font-family: 'Prompt', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #191919;
}

::-webkit-scrollbar-thumb {
    background: #2f2f2f;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ------- */