<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/styles.ejs %>
</head>

<body>
  <% include ../layouts/navbar.ejs %>
  <div class="container mt-5">
    <section class="dark-grey-text text-center">
      <h3 class="font-weight-bold mb-4 pb-2">Our bestsellers</h3>
      <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit fugit,
        error amet numquam iure provident voluptate esse quasi nostrum quisquam eum porro a pariatur veniam.</p>
      <div class="row">
        <div class="owl-product owl-carousel owl-theme">
          <div class="item">
            <div class="card collection-card z-depth-1-half">
              <div class="view zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid"
                  alt="">
                <div class="stripe dark">
                  <a>
                    <p>Trousers
                      <i class="fas fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card collection-card z-depth-1-half">
              <div class="view zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid">
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <i class="fas fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card collection-card z-depth-1-half">
              <div class="view zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid">
                <div class="stripe dark">
                  <a>
                    <p>Black hat
                      <i class="fas fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card collection-card z-depth-1-half">
              <div class="view zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid">
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <i class="fas fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card collection-card z-depth-1-half">
              <div class="view zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/1.jpg" class="img-fluid">
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <i class="fas fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card collection-card z-depth-1-half">
              <div class="view zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/2.jpg" class="img-fluid">
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <i class="fas fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container mt-5">
    <section class="mb-5">
      <h3 class="text-center font-weight-bold mb-5">Product Details</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row h-100 d-flex align-items-center">
                <div class="col-lg-6 order-2 order-sm-1">
                  <p class="text-muted font-weight-light ml-3 mb-5">Anim pariatur cliche reprehenderit, enim eiusmod
                    high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  </p>
                  <ul class="fa-ul mb-5 text-muted font-weight-light">
                    <li class="mb-2"><span class="fa-li"><i class="fas fa-check green-text"></i></span>Built in GPS</li>
                    <li class="mb-2"><span class="fa-li"><i class="fas fa-check green-text"></i></span>Heart Rate Sensor
                    </li>
                    <li class="mb-2"><span class="fa-li"><i class="fas fa-check green-text"></i></span>Water Resistant
                      50 Meters</li>
                    <li class="mb-2"><span class="fa-li"><i class="fas fa-check green-text"></i></span>Comprehensive
                      Workout App</li>
                  </ul>
                  <div class="d-flex justify-content-between ml-3">
                    <button type="button" class="btn btn-primary mx-0">Purchase</button>
                    <div class="text-center">
                      <h4 class="mb-0">$399</h4>
                      <small class="grey-text">+ $10 shipping fees</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 order-1 order-sm-2">
                  <div id="carousel-thumb" class="carousel slide carousel-thumbnails" data-ride="carousel">
                    <div class="carousel-inner text-center text-md-left" role="listbox">
                      <div class="carousel-item active">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/17.jpg"
                          alt="First slide" class="img-fluid">
                      </div>
                      <div class="carousel-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/18.jpg"
                          alt="Second slide" class="img-fluid">
                      </div>
                      <div class="carousel-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/19.jpg"
                          alt="Third slide" class="img-fluid">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container mt-5">
    <section class="text-center dark-grey-text">
      <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
      <div class="wrapper-carousel-fix">
        <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade"
          data-ride="carousel" data-interval="false">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="testimonial">
                <div class="avatar mx-auto mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
                    alt="First sample avatar image">
                </div>
                <p>
                  <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                  eos
                  id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore
                  sit, aspernatur praesentium iste impedit quidem dolor veniam.
                </p>
                <h4 class="font-weight-bold">Anna Deynah</h4>
                <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star-half-alt blue-text"> </i>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial">
                <div class="avatar mx-auto mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
                    alt="Second sample avatar image">
                </div>
                <p>
                  <i class="fas fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                  odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                  porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                  non numquam eius modi tempora incidunt ut labore. </p>
                <h4 class="font-weight-bold">Maria Kate</h4>
                <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial">
                <div class="avatar mx-auto mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
                    alt="Third sample avatar image">
                </div>
                <p>
                  <i class="fas fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                  error sit voluptatem accusantium doloremque laudantium.</p>
                <h4 class="font-weight-bold">John Doe</h4>
                <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="far fa-star blue-text"> </i>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button"
            data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button"
            data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="container z-depth-1 my-5 pt-5 pb-3 px-5">
    <section>
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/7MUISDJ5ZZ4"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">Three Easy Steps</h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5">Explore the best MDB template in the market in a short 1-minute
        video.</p>
      <div class="row align-items-center">
        <div class="col-lg-6 mb-4">
          <div class="view z-depth-1-half rounded">
            <img class="rounded img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(6).jpg"
              alt="Video title">
            <div class="mask flex-center rgba-black-light">
              <a id="play" class="btn-floating btn-primary btn-lg" data-toggle="modal" data-target="#modal2"><i
                  class="fas fa-play"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <ol class="step pl-0">
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number">1</span>
              </div>
              <div class="step-excerpt">
                <h6 class="font-weight-bold dark-grey-text mb-3">Write your requirements</h6>
                <p class="text-muted">Think the or organization same proposal to affected heard reclined in be it
                  reassuring.</p>
              </div>
            </li>
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number">2</span>
              </div>
              <div class="step-excerpt">
                <h6 class="font-weight-bold dark-grey-text mb-3">Sign the contract</h6>
                <p class="text-muted">Think the or organization same proposal to affected heard reclined in be it
                  reassuring.</p>
              </div>
            </li>
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number">3</span>
              </div>
              <div class="step-excerpt">
                <h6 class="font-weight-bold dark-grey-text mb-3">We start developing</h6>
                <p class="text-muted">Think the or organization same proposal to affected heard reclined in be it
                  reassuring.</p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>
  <div class="container z-depth-1 my-5 py-5">
    <section>
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/7MUISDJ5ZZ4"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">video</h6>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">Explore</h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5">Explore the best MDB template in the market in a short 1-minute
        video.</p>
      <div class="row">
        <div class="col-md-8 mx-auto mb-4">
          <div class="view z-depth-1 rounded">
            <img class="rounded img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg"
              alt="Video title">
            <div class="mask flex-center rgba-white-light">
              <a id="play" class="btn-floating btn-danger btn-lg" data-toggle="modal" data-target="#modal1"><i
                  class="fas fa-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container mt-5">
    <section class="">
      <h3 class="text-center font-weight-bold mb-5">Latest news</h3>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <div class="card hoverable">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg"
              alt="Card image cap">
            <div class="card-body">
              <a href="#!" class="black-text">We relocated to a new garage</a>
              <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title
                and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
              <button type="button" class="btn btn-flat text-primary p-0 mx-0">Read more
                <i class="fa fa-angle-right ml-2"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
          <div class="card hoverable">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="#!" class="black-text">Top 5 content marketing strategies</a>
              <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title
                and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
              <button type="button" class="btn btn-flat text-primary p-0 mx-0">Read more
                <i class="fa fa-angle-right ml-2"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-0">
          <div class="card hoverable">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg"
              alt="Card image cap">
            <div class="card-body">
              <a href="#!" class="black-text">Best practices for minimal design</a>
              <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title
                and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
              <button type="button" class="btn btn-flat text-primary p-0 mx-0">Read more
                <i class="fa fa-angle-right ml-2"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <a href="#!">Browse all blog posts</a>
      </div>
    </section>
  </div>
  <% include ../layouts/footer.ejs %>
  <% include ../layouts/script.ejs %>
</body>

</html>